# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
/build/firebase_auth/
/build/cloud_firestore/
/build/image_cropper/
/build/firebase_storage/
/build/flutter_plugin_android_lifecycle/
/build/firebase_core/
/build/kotlin/
/build/image_picker/
/build/cache.dill
/build/last_build_run.json
/build/app/generated/
/build/app/intermediates/
/build/app/kotlin/
/build/app/tmp/
/build/app/outputs/logs/
/build/app/outputs/apk/profile/output.json
/build/app/outputs/apk/debug/
/build/app/outputs/flutter-apk/
/build/f9bc35d9fe412db91556ed29f295b74d/
/build/url_launcher/
